@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html,body { height:100%; }
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	font-family: 'Nanum Gothic', Helvetica, Arial, sans-serif;
  background-color: #e7e7e7;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
	margin: 0;
  position: relative;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
main,
menu,
section,
summary {
	display: block;
}
* {
  padding:0; margin:0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
section { margin-top:10px; }

h1,h2,h3,h4,h5 { font-family: 'Nanum Gothic', Helvetica, Arial, sans-serif; font-weight:600; }
img { max-width:100%; vertical-align:bottom; }
img, p, div { margin:0; padding: 0; }
button,a,img { outline:0; }
iframe { padding:0; margin:0; border:0; overflow: hidden; }

a:link { color:#000; text-decoration: none; }
a:visited { color:#000; }
a:hover,
a:active { color:#337ab7; }

.container {
  width:100%;

  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

}
/*.row {
  margin:0 -10px;
}
*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

footer { width:100%; background-color: #e7e7e7; padding:20px 0;}
footer .container { 
  color: #969696;
  font-size:12px;
  text-align: center; 
}
footer .container .active { color:#5093e1; font-weight:700; }

.frameset1 { 
margin: 0;
max-width: 100%; 
padding-bottom: 125%; 
height: 0;  
position: relative;
overflow: hidden; 
}
.frameset4 { 
margin: 0;
max-width: 100%; 
padding-bottom: 103%; 
height: 0;  
position: relative;
overflow: hidden; 
}

.frameset4 iframe,
.frameset1 iframe { 
margin: 0;
padding: 0;  
width: 100%; 
height: 100%;
position: absolute; 
top: 0; 
left: 0; 
}

@media (max-width:339px) {
  .frameset2 {
    margin-bottom:-20px;
  }
}

@media (min-width: 350px) {
  .frameset1 {
    padding-bottom: 122%; 
  }
  .frameset4 {
    padding-bottom: 97%; 
  }
}
@media (min-width: 420px) {
  .frameset1 {
    padding-bottom: 115%; 
  }
  .frameset4 {
    padding-bottom: 97%; 
  }
}
@media (min-width: 540px) {
  .frameset1 {
    padding-bottom: 105%; 
  }
  .frameset4 {
    padding-bottom: 87%; 
  }
}
@media (min-width: 670px) {
  .frameset1 {
    padding-bottom: 100%; 
  }
  .frameset4 {
    padding-bottom: 82%; 
  }
}